---
---

@import "{{ site.theme }}";

body {
  background: white !important;
  color: black !important;
  font-family: sans-serif !important;
  font-size: 1.25rem !important;
}

#downloads {
  display: none !important;
}

header {
  background: black !important;
  border-bottom: none !important;
  padding: 1rem 0 1rem 0 !important;
  margin: 0 0 1rem 0 !important;
}

header h1:before {
  content: "" !important;
}

header h1:after {
  content: "™";
  font-size: 0.33rem;
  vertical-align: super;
}

header h1 {
  color: #ff2400 !important;
  text-shadow: none !important;
  font-family: sans-serif !important;
  font-size: 2.3rem !important;
  margin: 0 0 0 0 !important;
}

header h2 {
  color: white !important;
  text-shadow: none !important;
  font-family: sans-serif !important;
  font-size: 1.25rem !important;
  font-weight: normal !important;
  margin: 0 !important;
}

h1 {
  color: black !important;
  text-shadow: none !important;
  font-family: sans-serif !important;
  font-size: 1.8rem !important;
  font-weight: bold !important;
}

h2, h3, h4, h5, h6 {
  color: black !important;
  text-shadow: none !important;
  font-family: sans-serif !important;
  font-size: 1.6rem !important;
  font-weight: bold !important;
}

ul li {
  list-style: disc !important;
}

a {
  color: #000 !important;
  text-shadow: none !important;
  text-decoration: none !important;
}

.container {
  max-width: 855px !important;
}
