---
---

@import "{{ site.theme }}";

body {
  background: #002b36	!important;
  color: #839496 !important;
  font-family: monospace !important;
  font-size: 1rem !important;
}

#downloads {
  display: none !important;
}

header {
  background: #002b36	!important;
  border-bottom: none !important;
  padding: 1rem 0 1rem 0 !important;
  margin: 0 0 1rem 0 !important;
}

header h1:before {
  content: "" !important;
}

header h1 {
  color: #2aa198 !important;
  text-shadow: none !important;
  font-family: monospace !important;
  font-size: 2rem !important;
  margin: 0 0 0 0 !important;
}

header h2 {
  color: #2aa198 !important;
  text-shadow: none !important;
  font-family: monospace !important;
  font-size: large !important;
  font-weight: bold !important;
  margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #cb4b16 !important;
  text-shadow: none !important;
  font-family: monospace !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

ul li {
  list-style: auto !important;
}

a {
  color: #b58900 !important;
  text-shadow: none !important;
}

.container {
  max-width: 855px !important;
}
